<div class="GlobalSideBar" data-za-detail-view-path-module="RightSideBar">
    <div>
        <div class="Sticky">
            <div class="Card">
                <div class="GlobalWrite">
                    <div class="GlobalWrite-nav">
                        <a class="GlobalWrite-navItem" href="https://www.Blogs.com/question" target="_blank" rel="noopener noreferrer" title="回答">
                            <svg class="Zi Zi--Paper GlobalWrite-navIcon" fill="currentColor"
                                 viewBox="0 0 24 24" width="24" height="24">
                                <path d="M9.273 5.63c-1.103 0-1.439.064-1.782.243a1.348 1.348 0 0 0-.576.564c-.183.336-.248.664-.248 1.743v6.64c0 1.079.065 1.407.248 1.743.135.247.323.431.576.564.343.18.68.243 1.782.243h5.454c1.103 0 1.439-.064 1.782-.243.253-.133.44-.317.576-.564.183-.336.248-.664.248-1.743V8.18c0-1.079-.065-1.407-.248-1.743a1.348 1.348 0 0 0-.576-.564c-.343-.18-.68-.243-1.782-.243H9.273zm0-1.63h5.454c1.486 0 2.025.151 2.568.436.543.284.97.7 1.26 1.232.29.532.445 1.059.445 2.512v6.64c0 1.453-.155 1.98-.445 2.512-.29.531-.717.948-1.26 1.232-.543.285-1.082.436-2.568.436H9.273c-1.486 0-2.025-.151-2.568-.436a2.997 2.997 0 0 1-1.26-1.232C5.155 16.8 5 16.273 5 14.82V8.18c0-1.453.155-1.98.445-2.512.29-.531.717-.948 1.26-1.232C7.248 4.15 7.787 4 9.273 4zM8.5 8.076v1.467h7V8.076h-7zm0 2.609v1.467h7v-1.467h-7zm0 2.608v1.468h4.667v-1.468H8.5z">
                                </path>
                            </svg>
                            <div class="GlobalWrite-navTitle">公众号</div>
                        </a>
                        <a class="GlobalWrite-navItem" href="https://zhuanlan.Blogs.com/write" target="_blank" rel="noopener noreferrer" title="写文章">
                            <svg class="Zi Zi--WriteArticle GlobalWrite-navIcon"
                                 fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
                                <path d="M15.764 7.279l-3.76 3.765c-.428.43-.555.567-.667.713a1.666 1.666 0 0 0-.208.348c-.076.167-.137.344-.314.926l-.073.243.242-.074c.58-.177.757-.238.925-.314.13-.06.232-.12.347-.209.146-.112.282-.239.712-.668l3.759-3.766-.963-.964zm.963-.965l.963.965.685-.686c.167-.168.227-.263.253-.349a.187.187 0 0 0 0-.12c-.026-.086-.086-.18-.253-.348l-.148-.148c-.167-.167-.262-.228-.348-.254a.187.187 0 0 0-.12 0c-.085.026-.18.087-.347.254l-.685.686zm.87 5.471l1.702-1.705v5.549c0 1.52-.158 2.07-.455 2.626a3.096 3.096 0 0 1-1.287 1.29c-.555.297-1.105.455-2.623.455h-5.57c-1.517 0-2.068-.158-2.622-.455a3.096 3.096 0 0 1-1.287-1.29C5.158 17.7 5 17.15 5 15.63v-5.58c0-1.52.158-2.071.455-2.627a3.096 3.096 0 0 1 1.287-1.289c.554-.297 1.105-.455 2.622-.455h3.497l-1.702 1.705H9.364c-1.126 0-1.47.066-1.82.254-.258.138-.45.33-.588.59-.188.35-.254.694-.254 1.822v5.58c0 1.128.066 1.472.254 1.822.138.259.33.452.588.59.35.188.694.254 1.82.254h5.57c1.127 0 1.47-.066 1.82-.254.258-.138.45-.331.589-.59.187-.35.253-.694.253-1.822v-3.844zm1.593-7.121l.148.147c.33.33.502.616.594.918.09.301.09.61 0 .911-.092.302-.265.587-.594.917l-5.408 5.416c-.486.487-.648.635-.845.786a3.02 3.02 0 0 1-.614.37c-.226.102-.433.176-1.091.376l-.852.26a1.021 1.021 0 0 1-1.275-1.277l.26-.854c.2-.659.273-.866.375-1.092.103-.227.218-.418.369-.616.15-.197.299-.36.785-.846l5.407-5.416c.33-.33.614-.504.915-.595.301-.092.61-.092.91 0 .301.09.586.264.916.595z">
                                </path>
                            </svg>
                            <div class="GlobalWrite-navTitle">博客园</div>
                        </a>
                        <div class="GlobalWrite-navItem">
                            <svg class="Zi Zi--WritePin GlobalWrite-navIcon" fill="currentColor" viewBox="0 0 24 24" width="24" height="24">
                                <path d="M16.63 6.02V4h1.35v2.02H20v1.35h-2.02V9.4h-1.35V7.36H14.6V6.02h2.03zm-.17 4.9h1.7v4.76c0 1.5-.17 2.05-.46 2.6-.3.55-.73.98-1.28 1.27-.54.3-1.1.45-2.6.45h-5.5c-1.5 0-2.05-.16-2.6-.45-.55-.3-.98-.72-1.27-1.27-.3-.55-.45-1.1-.45-2.6v-5.5c0-1.5.16-2.06.45-2.6.3-.55.72-.98 1.27-1.28.55-.3 1.1-.45 2.6-.45h4.78v1.7H8.3c-1.12 0-1.46.05-1.8.24-.26.1-.45.3-.58.55-.2.35-.26.7-.26 1.8v5.5c0 1.13.07 1.47.26 1.8.13.27.32.46.58.6.34.18.68.25 1.8.25h5.5c1.12 0 1.46-.06 1.8-.25.27-.13.46-.32.6-.58.18-.34.24-.68.24-1.8V10.9l.02.02zm-3.86-.22c.7-.16 1.45.06 1.98.6.83.83.83 2.2 0 3.04l-.03.03c-.84.85-2.2.85-3.04 0l-1.92-2a.628.628 0 0 0-.88 0l-.04.04c-.25.28-.25.7 0 .95.15.16.37.22.57.17.4-.1.82.18.9.58.1.4-.16.82-.57.9-.7.17-1.46-.04-1.98-.58-.83-.85-.83-2.2 0-3.06l.03-.02c.86-.85 2.2-.85 3.05 0l1.93 1.95c.24.25.63.25.87 0l.03-.02a.67.67 0 0 0 0-.93.687.687 0 0 0-.58-.17c-.4.1-.8-.16-.9-.57-.1-.4.16-.8.57-.9l.01-.01z">
                                </path>
                            </svg>
                            <div class="GlobalWrite-navTitle">CSDN</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Card">
                <ul class="GlobalSideBar-categoryList">
                    <li class="GlobalSideBar-categoryItem">
                        <a href="/allcategories" title="分类" data-za-not-track-link="true" type="button" class="Button Button--plain" style="color: rgb(67, 212, 128);">
                            <span class="GlobalSideBar-categoryIcon">
                                <svg class="Zi Zi--Ebook"
                                     fill="currentColor" viewBox="0 0 24 24" width="24"
                                     height="24">
                                    <path d="M16 17.649V2.931a.921.921 0 0 0-.045-.283.943.943 0 0 0-1.182-.604L4.655 5.235A.932.932 0 0 0 4 6.122v14.947c0 .514.421.931.941.931H19.06c.52 0 .941-.417.941-.93V7.292a.936.936 0 0 0-.941-.931h-.773v12.834a.934.934 0 0 1-.83.924L6.464 21.416c-.02.002 2.94-.958 8.883-2.881a.932.932 0 0 0 .653-.886z"
                                          fill-rule="evenodd"></path>
                                </svg>
                            </span><span class="GlobalSideBar-categoryLabel">分类</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-categoryItem">
                        <a href="/alltags" title="标签" data-za-not-track-link="true" type="button" class="Button Button--plain" style="color: rgb(0, 132, 255);">
                            <span class="GlobalSideBar-categoryIcon">
                                <svg class="Zi Zi--Org"
                                     fill="currentColor" viewBox="0 0 24 24" width="24"
                                     height="24">
                                    <path d="M10.786 8.41a8.938 8.938 0 0 0-3.968-2.528c-.305-1.719.814-3.337 2.442-3.741 1.221-.405 2.646.101 3.46 1.011 1.045 1.38.915 3.64.814 4.348-.102 1.315-1.221 3.034-1.323 3.135-.305-.809-.814-1.517-1.425-2.225zm-2.442 2.832c-1.526.202-3.052 1.01-4.171 2.123-1.12-.404-1.934-1.314-2.137-2.427-.316-2.427 1.526-3.64 2.849-3.842 1.628-.371 2.849.505 4.07 1.415 1.146 1.012 2.035 2.63 2.035 2.73-.916-.202-1.832-.1-2.646 0zm4.986.303c.509-.607.931-1.586 1.12-2.225.318-1.039.61-3.134.203-4.651 1.323-1.011 3.154-1.011 4.477.303 1.235 1.146 1.017 2.933.814 3.438-.663 1.581-1.933 2.326-3.256 2.832-1.221.404-3.256.303-3.358.303zm-2.645 1.011c-.51.607-.916 1.416-1.221 2.326-.407 1.314-.643 3.06-.102 4.55-1.323 1.011-3.256 1.011-4.477-.202-1.198-1.124-1.018-2.932-.814-3.438.599-1.605 1.933-2.326 3.256-2.831.916-.304 3.256-.405 3.358-.405zm9.259-1.82c1.017.404 1.933 1.315 2.035 2.427.233 2.57-1.526 3.64-2.849 3.842-1.526 0-2.85-.505-4.07-1.415-1.018-.81-2.035-2.528-2.035-2.63.916.203 1.831.102 2.645 0 1.628-.404 3.053-1.112 4.274-2.224zm-6.716 4.854c1.065 1.08 2.442 2.022 4.07 2.528.306 1.719-.814 3.235-2.442 3.741-1.22.405-2.645-.101-3.46-1.011-1.1-1.481-1.017-3.54-.915-4.247.102-1.315 1.221-3.034 1.323-3.135.305.708.721 1.44 1.424 2.124z">
                                    </path>
                                </svg>
                            </span><span class="GlobalSideBar-categoryLabel">标签</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-categoryItem">
                        <a href="https://zhuanlan.Blogs.com/" target="_blank" title="专栏" data-za-not-track-link="true" type="button" class="Button Button--plain" style="color: rgb(15, 136, 235);">
                            <span class="GlobalSideBar-categoryIcon">
                                <svg class="Zi Zi--Edit"
                                     fill="currentColor" viewBox="0 0 24 24" width="24"
                                     height="24">
                                    <path d="M4.076 16.966a4.19 4.19 0 0 1 1.05-1.76l8.568-8.569a.524.524 0 0 1 .741 0l2.928 2.927a.524.524 0 0 1 0 .74l-8.568 8.57c-.49.49-1.096.852-1.761 1.051l-3.528 1.058a.394.394 0 0 1-.49-.488l1.06-3.53zM20.558 4.83c.59.59.59 1.546 0 2.136l-1.693 1.692a.503.503 0 0 1-.712 0l-2.812-2.812a.504.504 0 0 1 0-.712l1.693-1.693a1.51 1.51 0 0 1 2.135 0l1.389 1.389z">
                                    </path>
                                </svg>
                            </span><span class="GlobalSideBar-categoryLabel">项目</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Card">
                <ul class="GlobalSideBar-navList">
                    <li class="GlobalSideBar-navItem GlobalSideBar-starItem">
                        <a href="https://www.Blogs.com/collections" target="_blank" data-za-not-track-link="true" type="button" class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--Star GlobalSideBar-navIcon" fill="currentColor"
                                 viewBox="0 0 24 24" width="18" height="18">
                                <path d="M14.553 20.78c.862-.651 1.39-1.792 1.583-3.421.298-2.511-.656-4.904-2.863-7.179.209 2.291.209 3.73 0 4.314-.41 1.143-1.123 1.983-1.91 2.03-1.35.079-2.305-.512-2.863-1.774-.676 1.25-.782 2.556-.318 3.915.31.906.94 1.684 1.89 2.333C7.144 20.131 5 17.336 5 14.022c0-2.144.898-4.072 2.325-5.4.062 2.072.682 3.598 2.13 4.822-.67-1.112-.734-2.11-.734-3.517 0-3.253 2.067-6.007 4.913-6.927a7.35 7.35 0 0 0 2.157 4.918C17.722 9.214 19 11.463 19 14.022c0 3.073-1.844 5.7-4.447 6.758z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">热门分类</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                        <a target="_blank" data-za-not-track-link="true" type="button" class="Button GlobalSideBar-navLink Button--plain" href="https://www.Blogs.com/people/liu-zhen-yu-84-24/following/questions">
                            <svg class="Zi Zi--HelpBubble GlobalSideBar-navIcon"
                                 fill="currentColor" viewBox="0 0 24 24" width="18" height="18">
                                <path d="M5.74 4h12.52c.961 0 1.74.775 1.74 1.73V16.27c0 .955-.779 1.73-1.74 1.73h-3.825l-1.658 2.044a1 1 0 0 1-1.554 0l-1.658-2.044H5.74C4.78 18 4 17.224 4 16.27V5.73C4 4.775 4.778 4 5.74 4zM12 16a.976.976 0 0 0 .705-.287.951.951 0 0 0 .295-.712.954.954 0 0 0-.295-.714A.976.976 0 0 0 12 14a.962.962 0 0 0-.705.295A.961.961 0 0 0 11 15c0 .284.098.522.295.713A.975.975 0 0 0 12 16zm1.278-4.924a36.81 36.81 0 0 0 1.023-.975c.19-.193.354-.422.492-.688.138-.266.207-.575.207-.928 0-.448-.12-.864-.363-1.246a2.517 2.517 0 0 0-1.029-.906C13.164 6.111 12.652 6 12.072 6c-.624 0-1.17.133-1.638.399-.468.265-.824.6-1.068 1.005-.244.405-.366.804-.366 1.2 0 .19.077.368.231.531a.747.747 0 0 0 .567.246c.38 0 .638-.234.774-.703.144-.449.32-.788.528-1.019.208-.23.532-.345.972-.345.376 0 .683.114.921.342.238.229.357.51.357.841 0 .17-.039.328-.117.473a1.782 1.782 0 0 1-.288.396c-.114.118-.3.294-.555.526a9.71 9.71 0 0 0-.696.688c-.172.194-.31.418-.414.673a2.391 2.391 0 0 0-.156.906c0 .278.071.488.213.63a.716.716 0 0 0 .525.211c.4 0 .638-.216.714-.648.044-.203.077-.345.099-.426.022-.081.053-.162.093-.243.04-.081.101-.17.183-.268.082-.098.191-.21.327-.34z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">我关注的问题</span><span class="GlobalSideBar-navNumber">3</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-navItem GlobalSideBar-inviteItem">
                        <a href="https://www.Blogs.com/question/invited" target="_blank" data-za-not-track-link="true" type="button" class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--Invite GlobalSideBar-navIcon" fill="currentColor"
                                 viewBox="0 0 24 24" width="18" height="18">
                                <path d="M4 10V8a1 1 0 1 1 2 0v2h2a1 1 0 0 1 0 2H6v2a1 1 0 0 1-2 0v-2H2a1 1 0 0 1 0-2h2zm10.455 2c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm-7 6c0-2.66 4.845-4 7.272-4C17.155 14 22 15.34 22 18v1.375c0 .345-.28.625-.625.625H8.08a.625.625 0 0 1-.625-.625V18z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">我的邀请</span><span class="GlobalSideBar-navNumber">54</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Card">
                <ul class="GlobalSideBar-navList">
                    <li class="GlobalSideBar-navItem GlobalSideBar-starItem">
                        <a href="https://www.Blogs.com/collections" target="_blank" data-za-not-track-link="true" type="button" class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--Star GlobalSideBar-navIcon" fill="currentColor"
                                 viewBox="0 0 24 24" width="18" height="18">
                                <path d="M14.553 20.78c.862-.651 1.39-1.792 1.583-3.421.298-2.511-.656-4.904-2.863-7.179.209 2.291.209 3.73 0 4.314-.41 1.143-1.123 1.983-1.91 2.03-1.35.079-2.305-.512-2.863-1.774-.676 1.25-.782 2.556-.318 3.915.31.906.94 1.684 1.89 2.333C7.144 20.131 5 17.336 5 14.022c0-2.144.898-4.072 2.325-5.4.062 2.072.682 3.598 2.13 4.822-.67-1.112-.734-2.11-.734-3.517 0-3.253 2.067-6.007 4.913-6.927a7.35 7.35 0 0 0 2.157 4.918C17.722 9.214 19 11.463 19 14.022c0 3.073-1.844 5.7-4.447 6.758z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">热门标签</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-navItem GlobalSideBar-questionListItem">
                        <a target="_blank" data-za-not-track-link="true" type="button" class="Button GlobalSideBar-navLink Button--plain" href="https://www.Blogs.com/people/liu-zhen-yu-84-24/following/questions">
                            <svg class="Zi Zi--HelpBubble GlobalSideBar-navIcon"
                                 fill="currentColor" viewBox="0 0 24 24" width="18" height="18">
                                <path d="M5.74 4h12.52c.961 0 1.74.775 1.74 1.73V16.27c0 .955-.779 1.73-1.74 1.73h-3.825l-1.658 2.044a1 1 0 0 1-1.554 0l-1.658-2.044H5.74C4.78 18 4 17.224 4 16.27V5.73C4 4.775 4.778 4 5.74 4zM12 16a.976.976 0 0 0 .705-.287.951.951 0 0 0 .295-.712.954.954 0 0 0-.295-.714A.976.976 0 0 0 12 14a.962.962 0 0 0-.705.295A.961.961 0 0 0 11 15c0 .284.098.522.295.713A.975.975 0 0 0 12 16zm1.278-4.924a36.81 36.81 0 0 0 1.023-.975c.19-.193.354-.422.492-.688.138-.266.207-.575.207-.928 0-.448-.12-.864-.363-1.246a2.517 2.517 0 0 0-1.029-.906C13.164 6.111 12.652 6 12.072 6c-.624 0-1.17.133-1.638.399-.468.265-.824.6-1.068 1.005-.244.405-.366.804-.366 1.2 0 .19.077.368.231.531a.747.747 0 0 0 .567.246c.38 0 .638-.234.774-.703.144-.449.32-.788.528-1.019.208-.23.532-.345.972-.345.376 0 .683.114.921.342.238.229.357.51.357.841 0 .17-.039.328-.117.473a1.782 1.782 0 0 1-.288.396c-.114.118-.3.294-.555.526a9.71 9.71 0 0 0-.696.688c-.172.194-.31.418-.414.673a2.391 2.391 0 0 0-.156.906c0 .278.071.488.213.63a.716.716 0 0 0 .525.211c.4 0 .638-.216.714-.648.044-.203.077-.345.099-.426.022-.081.053-.162.093-.243.04-.081.101-.17.183-.268.082-.098.191-.21.327-.34z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">我关注的问题</span><span class="GlobalSideBar-navNumber">3</span>
                        </a>
                    </li>
                    <li class="GlobalSideBar-navItem GlobalSideBar-inviteItem">
                        <a href="https://www.Blogs.com/question/invited" target="_blank" data-za-not-track-link="true" type="button" class="Button GlobalSideBar-navLink Button--plain">
                            <svg class="Zi Zi--Invite GlobalSideBar-navIcon" fill="currentColor"
                                 viewBox="0 0 24 24" width="18" height="18">
                                <path d="M4 10V8a1 1 0 1 1 2 0v2h2a1 1 0 0 1 0 2H6v2a1 1 0 0 1-2 0v-2H2a1 1 0 0 1 0-2h2zm10.455 2c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm-7 6c0-2.66 4.845-4 7.272-4C17.155 14 22 15.34 22 18v1.375c0 .345-.28.625-.625.625H8.08a.625.625 0 0 1-.625-.625V18z"
                                      fill-rule="evenodd"></path>
                            </svg><span class="GlobalSideBar-navText">我的邀请</span><span class="GlobalSideBar-navNumber">54</span>
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</div>