@section scripts
{
    <script>
        var tale = new $.tale();
        var vm = new Vue({
            el: '#app',
            data: {
                logPage: {},
                options: {},
                isLoading: true
            },
            beforeCreate: function() {
                vueLoding = this.$loading.show();
            },
            mounted: function() {
                this.load();
                this.loadLog(1);
            },
            methods: {
                loadLog: function(page) {
                    var $vm = this;
                    tale.get({
                        url: '/admin/api/logs',
                        data: {
                            page: page,
                            limit: 6
                        },
                        success: function(data) {
                            if (!data.payload) {
                                $vm.logPage = [];
                            } else {
                                $vm.logPage = data.payload;
                            }
                        },
                        error: function(error) {
                            console.log(error);
                            alert(error || '数据加载失败');
                        }
                    });
                },
                load: function() {
                    var $vm = this;
                    tale.get({
                        url: '/admin/api/options',
                        success: function(data) {
                            $vm.options = data.payload;
                        },
                        error: function(error) {
                            console.log(error);
                            alert(error || '数据加载失败');
                        }
                    });
                },
                downloadFromCnBlogs: function() {
                    tale.alertConfirm({
                        title: '确定从博客园拉取所有文章吗?',
                        then: function() {
                            tale.post({
                                url: '/admin/api/article/sync',
                                data: {
                                    targets: ['CnBlogs'],
                                    method:'download'
                                },
                                success: function(result) {
                                    if (result && result.success) {
                                        tale.alertOk('同步请求已发送');
                                    } else {
                                        tale.alertError(result.msg || '请求发送失败');
                                    }
                                }
                            });
                        }
                    });
                },
                saveCnBlogsSetting: function() {
                    var $vm = this;
                    var data = {
                        CnBlogsSyncSwitch: $vm.options.cnBlogsSyncSwitch,
                        CnBlogsUserName: $vm.options.cnBlogsUserName,
                        CnBlogsPassword: $vm.options.cnBlogsPassword,
                        CnBlogsUrl: $vm.options.cnBlogsUrl
                    };
                    $vm.saveSetting(data);
                },
                saveGitSetting: function() {
                    var $vm = this;
                    var data = {
                        gitProjectCloneUrl: $vm.options.gitProjectCloneUrl,
                        gitWebHookSecret: $vm.options.gitWebHookSecret,
                        gitUerName: $vm.options.gitUerName,
                        gitPassword: $vm.options.gitPassword,
                        gitCommitter: $vm.options.gitCommitter,
                        gitAuthorId: $vm.options.gitAuthorId
                    };
                    $vm.saveSetting(data);
                },
                saveSetting: function(data) {
                    var $vm = this;
                    tale.postWithForm({
                        url: '/admin/api/options/save',
                        data: data,
                        success: function(result) {
                            if (result && result.success) {
                                tale.alertOk('设置保存成功');
                                $vm.load();
                            } else {
                                tale.alertError(result.msg || '保存失败');
                            }
                        }
                    });
                }
            }
        });

        $(document).ready(function() {
            vm.isLoading = false;
            vueLoding.hide();
        });
    </script>
}

<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#git" data-toggle="tab">Git</a></li>
    <li><a href="#CnBlogs" data-toggle="tab">博客园</a></li>
    <li><a href="#CAP" data-toggle="tab">CAP</a></li>
</ul>
<div id="app" class="tab-content" style="margin: 0;padding: 0;">
    <div id="git" class="row tab-pane fade in active" v-cloak>
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Git同步仪表盘</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mini-stat clearfix bx-shadow bg-info">
                                <a href="#" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-bell-o" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    接收到了<span class="counter">3</span>条通知
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mini-stat clearfix bg-purple bx-shadow">
                                <a href="#" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    成功处理了<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mini-stat clearfix bg-success bx-shadow">
                                <a href="#" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    处理失败<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">同步配置</h4>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Git仓库地址</label>
                                            <div class="col-md-9">
                                                <input type="text" v-model="options.gitProjectCloneUrl" class="form-control" placeholder="Git仓库地址" required aria-required="true" />
                                                <span class="help-block"><small>设置该地址后请配置该仓库的Web hooks指向https://域名/admin/git</small></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Git钩子暗号</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.gitWebHookSecret" placeholder="Git Web hooks Secret" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Git用户名</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.gitUerName" placeholder="Git用户名" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Git密码</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.gitPassword" placeholder="Git密码" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Git提交者名称</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.gitCommitter" placeholder="该用户提交后Git钩子通知本系统不再重复处理" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Git作者Id</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.gitAuthorId" placeholder="该用户Id是本系统的用户Id,默认为1" required aria-required="true" />
                                            </div>
                                        </div>

                                        <div class="clearfix pull-right">
                                            <button type="button" class="btn btn-inverse waves-effect waves-light" v-on:click="saveGitSetting">
                                                保存设置
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">同步记录</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" v-for="item in logPage.rows">
                                            <span>{{item.timestamp | formatUnix}} &nbsp;&nbsp;Level:{{item.level}}<br />{{item.message}}</span>
                                        </li>
                                    </ul>
                                    <ul class="pager">
                                        <li v-if="logPage.hasPrevPage">
                                            <a class="btn" v-on:click="loadLog(logPage.prevPage)"> <i class="fa fa-angle-double-left"></i> 上一页</a>
                                        </li>
                                        <li v-if="logPage.hasNextPage">
                                            <a class="btn" v-on:click="loadLog(logPage.nextPage)">下一页 <i class="fa fa-angle-double-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row tab-pane fade in" id="CnBlogs">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">博客园同步仪表盘</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mini-stat clearfix bx-shadow bg-info">
                                <a v-on:click="downloadFromCnBlogs()" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-cloud-download" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    从博客园拉取了<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mini-stat clearfix bg-purple bx-shadow">
                                <a href="/admin/comments" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    向博客园提交了<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mini-stat clearfix bg-success bx-shadow">
                                <a href="/admin/attaches" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    处理失败<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">同步信息配置</h4>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" id="global-form">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">同步开关</label>
                                            <div class="col-md-9">
                                                <input type="checkbox" id="checked" v-model="options.cnBlogsSyncSwitch">
                                                <label v-if="options.cnBlogsSyncSwitch">同步开启</label>
                                                <label v-else="options.cnBlogsSyncSwitch">同步关闭</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">博客园用户名</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.cnBlogsUserName" placeholder="博客园用户名" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">博客园密码</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.cnBlogsPassword" placeholder="博客园密码" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">博客园同步Api地址</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.cnBlogsUrl" placeholder="博客园同步Api地址" required aria-required="true" />
                                            </div>
                                        </div>


                                        <div class="clearfix pull-right">
                                            <button type="button" class="btn btn-inverse waves-effect waves-light" v-on:click="saveCnBlogsSetting">
                                                保存设置
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">同步记录</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" v-for="item in logPage.rows">
                                            <span>{{item.timestamp | formatUnix}} &nbsp;&nbsp;Level:{{item.level}}<br />{{item.message}}</span>
                                        </li>
                                    </ul>
                                    <ul class="pager">
                                        <li v-if="logPage.hasPrevPage">
                                            <a class="btn" v-on:click="loadLog(logPage.prevPage)"> <i class="fa fa-angle-double-left"></i> 上一页</a>
                                        </li>
                                        <li v-if="logPage.hasNextPage">
                                            <a class="btn" v-on:click="loadLog(logPage.nextPage)">下一页 <i class="fa fa-angle-double-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <iframe class="row tab-pane fade in" id="CAP" src="/cap" style="width: 100%;height:740px" frameborder="0"></iframe>
</div>



