@section scripts
{
    <script>
        var tale = new $.tale();
        var vm = new Vue({
            el: '#app',
            data: {
                logPage: {},
                options: {},
                isLoading: true
            },
            beforeCreate: function () {
                vueLoding = this.$loading.show();
            },
            mounted: function () {
                this.load();
                this.loadLog(1);
            },
            methods: {
                loadLog: function (page) {
                    var $vm = this;
                    tale.get({
                        url: '/admin/api/logs',
                        data: {
                            page: page,
                            limit: 6
                        },
                        success: function (data) {
                            if (!data.payload) {
                                $vm.logPage = [];
                            } else {
                                $vm.logPage = data.payload;
                            }
                        },
                        error: function (error) {
                            console.log(error);
                            alert(error || '数据加载失败');
                        }
                    });
                },
                load: function () {
                    var $vm = this;
                    tale.get({
                        url: '/admin/api/options',
                        success: function (data) {
                            $vm.options = data.payload;
                        },
                        error: function (error) {
                            console.log(error);
                            alert(error || '数据加载失败');
                        }
                    });
                },
                saveSetting: function() {
                    var $vm = this;
                    tale.postWithForm({
                        url: '/admin/api/options/save',
                        data: {
                            siteUrl:$vm.options.siteUrl,
                            siteTitle:$vm.options.siteTitle,
                            siteSubtitle:$vm.options.siteSubtitle,
                            description:$vm.options.description,
                            keywords:$vm.options.keywords
                        },
                        success: function(result) {
                            if (result && result.success) {
                                tale.alertOk('设置保存成功');
                                $vm.load();
                            } else {
                                tale.alertError(result.msg || '保存失败');
                            }
                        }
                    });
                }
            }
        });

        $(document).ready(function () {
            vm.isLoading = false;
            vueLoding.hide();
        });
    </script>
}

<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#github" data-toggle="tab">Github</a></li>
    <li><a href="#CnBlogs" data-toggle="tab">博客园</a></li>
    <li><a href="#CAP" data-toggle="tab">CAP</a></li>
</ul>
<div id="app" class="tab-content" style="margin: 0;padding: 0;">
    <div id="github" class="row tab-pane fade in active" v-cloak>
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Github仪表盘</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mini-stat clearfix bx-shadow bg-info">
                                <a href="#" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-bell-o" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    接收到了<span class="counter">3</span>条通知
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mini-stat clearfix bg-purple bx-shadow">
                                <a href="#" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    成功处理了<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mini-stat clearfix bg-success bx-shadow">
                                <a href="#" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    处理失败<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">同步信息配置</h4>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" id="global-form">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">网站地址</label>
                                            <div class="col-md-9">
                                                <input type="text" v-model="options.siteUrl" class="form-control" placeholder="网站地址" required aria-required="true" />
                                                <span class="help-block"><small>请和你当前访问的域名保持一致，否则会出现渲染错误。</small></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">站点标题</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.siteTitle" placeholder="站点子标题" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">站点子标题</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.siteSubtitle" placeholder="站点子标题" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">站点描述</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.description" placeholder="站点描述" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">站点关键词</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.keywords" placeholder="站点关键词" required aria-required="true" />
                                            </div>
                                        </div>

                                        <div class="clearfix pull-right">
                                            <button type="button" class="btn btn-inverse waves-effect waves-light" v-on:click="saveSetting">
                                                保存设置
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">系统日志</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" v-for="item in logPage.rows">
                                            <span>{{item.timestamp | formatUnix}} &nbsp;&nbsp;Level:{{item.level}}<br />{{item.message}}</span>
                                        </li>
                                    </ul>
                                    <ul class="pager">
                                        <li v-if="logPage.hasPrevPage">
                                            <a class="btn" v-on:click="loadLog(logPage.prevPage)"> <i class="fa fa-angle-double-left"></i> 上一页</a>
                                        </li>
                                        <li v-if="logPage.hasNextPage">
                                            <a class="btn" v-on:click="loadLog(logPage.nextPage)">下一页 <i class="fa fa-angle-double-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row tab-pane fade in" id="CnBlogs">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">博客园仪表盘</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mini-stat clearfix bx-shadow bg-info">
                                <a href="/admin/article" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-bell-o" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    接收到了<span class="counter">3</span>条通知
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mini-stat clearfix bg-purple bx-shadow">
                                <a href="/admin/comments" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    成功处理了<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mini-stat clearfix bg-success bx-shadow">
                                <a href="/admin/attaches" class="text-white">
                                    <span class="mini-stat-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
                                </a>
                                <div class="mini-stat-info text-right">
                                    处理失败<span class="counter">3</span>篇文章
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">同步信息配置</h4>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" id="global-form">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">网站地址</label>
                                            <div class="col-md-9">
                                                <input type="text" v-model="options.siteUrl" class="form-control" placeholder="网站地址" required aria-required="true" />
                                                <span class="help-block"><small>请和你当前访问的域名保持一致，否则会出现渲染错误。</small></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">站点标题</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.siteTitle" placeholder="站点子标题" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">站点子标题</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.siteSubtitle" placeholder="站点子标题" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">站点描述</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.description" placeholder="站点描述" required aria-required="true" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">站点关键词</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" v-model="options.keywords" placeholder="站点关键词" required aria-required="true" />
                                            </div>
                                        </div>

                                        <div class="clearfix pull-right">
                                            <button type="button" class="btn btn-inverse waves-effect waves-light" v-on:click="saveSetting">
                                                保存设置
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">系统日志</h4>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" v-for="item in logPage.rows">
                                            <span>{{item.timestamp | formatUnix}} &nbsp;&nbsp;Level:{{item.level}}<br />{{item.message}}</span>
                                        </li>
                                    </ul>
                                    <ul class="pager">
                                        <li v-if="logPage.hasPrevPage">
                                            <a class="btn" v-on:click="loadLog(logPage.prevPage)"> <i class="fa fa-angle-double-left"></i> 上一页</a>
                                        </li>
                                        <li v-if="logPage.hasNextPage">
                                            <a class="btn" v-on:click="loadLog(logPage.nextPage)">下一页 <i class="fa fa-angle-double-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <iframe class="row tab-pane fade in" id="CAP" src="/cap" style="width: 100%;height:740px" frameborder="0"></iframe>
</div>



