@model iBlogs.Site.Core.Blog.Meta.DTO.MetaDataViewModel
@{
    ViewData["title"] = "所有标签";
}
<main role="main" class="App-main">
    <div class="Topstory">
        <div class="Topstory-container">
            <div class="Topstory-mainColumn">

                <div class="Card Topstory-noMarginCard Topstory-tabCard">
                    <nav class="TopstoryTabs Topstory-tabs">

                        <span class="TagsHeader">
                            <svg class="Zi Zi--Live" fill="currentColor" style="color: rgb(0, 132, 255);" viewBox="0 0 425.7 425.7" width="24" height="24">
                                <g><g><path d="M167.538,231.652c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C172.146,235.236,170.61,232.164,167.538,231.652z" /></g></g>
                                <g><g><path d="M202.354,238.82c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C206.962,241.892,204.914,239.332,202.354,238.82z" /></g></g>
                                <g><g><path d="M236.658,245.988c-2.56-0.512-5.632,1.024-6.144,4.096l-24.064,117.76c-0.512,2.56,1.024,5.632,4.096,6.144c0.512,0,0.512,0,1.024,0c2.56,0,4.608-1.536,5.12-4.096l24.064-117.76C241.266,249.06,239.218,246.5,236.658,245.988z" /></g></g>
                                <g><g><path d="M412.274,0.74c-2.56-1.536-5.632-0.512-7.168,1.536C367.218,65.764,313.97,108.26,275.57,132.324c-1.536,0-3.584,0-5.12,0l-55.296,4.096l-33.28-6.144c-10.24-2.048-20.48-1.024-30.208,3.072C110.706,107.236,57.97,65.252,20.594,2.788c-1.536-2.56-4.608-3.072-7.168-1.536S10.354,5.86,11.89,8.42c36.864,61.952,88.064,104.448,129.536,131.072c-10.752,7.68-17.92,18.944-20.48,31.744l-35.84,176.64c-5.632,27.648,12.288,55.296,39.936,60.928l77.824,15.872c3.584,0.512,6.656,1.024,10.24,1.024c17.92,0,34.816-9.728,44.032-25.088l32.768-2.56c12.8-1.024,24.576-7.168,33.28-16.896c8.704-9.728,12.8-22.528,11.776-35.328l-12.8-167.936c-1.536-19.456-14.848-35.84-32.256-41.984c38.4-26.112,88.064-67.584,123.904-128C415.346,5.348,414.834,2.276,412.274,0.74z M255.09,382.692c-5.632,20.992-27.136,35.328-49.664,31.232l-77.824-15.872c-22.528-4.608-36.864-26.624-32.256-48.64l35.84-176.64c2.048-10.752,8.704-19.968,17.92-26.112c1.024-0.512,1.536-1.024,2.56-1.536c19.456,11.776,35.84,19.968,46.592,25.088c-4.608,3.072-7.68,7.68-8.704,13.824c-1.024,5.632,0,11.776,3.072,16.896c3.072,5.12,8.192,8.192,13.824,9.728c1.536,0.512,3.072,0.512,4.608,0.512c4.096,0,8.704-1.024,12.288-3.584c5.12-3.072,8.192-8.192,9.728-13.824c1.024-5.632,0-11.776-3.072-16.896c-3.072-4.608-7.68-7.68-13.312-9.216c-0.512,0-22.016-8.192-52.224-26.112c2.56-0.512,5.632-1.024,8.192-1.024s5.632,0.512,8.192,1.024l77.824,15.872c22.528,4.608,36.864,26.624,32.256,48.64L255.09,382.692z M199.282,185.572c1.024-5.632,6.144-9.728,11.776-9.728c1.024,0,1.536,0,2.56,0c3.072,0.512,5.632,2.56,7.68,5.12c1.536,2.56,2.56,5.632,1.536,8.704c-0.512,3.072-2.56,5.632-5.12,7.68c-2.56,1.536-5.632,2.56-8.704,1.536c-3.072-0.512-5.632-2.56-7.68-5.12C199.282,191.716,198.77,188.644,199.282,185.572zM311.922,177.892l12.8,167.936c1.536,20.992-14.336,39.424-35.328,40.96l-27.136,2.048c0.512-2.048,1.024-3.584,1.536-5.632l12.8-62.976l1.536,25.6c0,2.56,2.56,4.608,5.12,4.608c0,0,0,0,0.512,0c3.072,0,5.12-2.56,4.608-5.632l-4.096-62.976l15.36-75.264c5.632-27.648-12.288-55.296-39.936-60.928l-8.704-1.536l19.456-1.536C291.954,141.028,310.386,156.9,311.922,177.892z" /></g></g>
                            </svg>
                            &nbsp 所有标签
                        </span>
                        <span class="TagsHeader">
                            Total:(@Model.Total)
                        </span>
                    </nav>
                </div>
                <div id="TopstoryContent" class="Topstory-content">
                    <div class="ListShortcut">
                        <div class="Topstory-recommend">
                            <div class="">
                                <div class="QuestionHeader-topics Card TopstoryItem TopstoryItem-isRecommend">
                                    @foreach (var tag in Model.Data)
                                    {
                                        <div class="Tag QuestionTopic">
                                            <span class="Tag-content">
                                                <a class="TopicLink" href="/tag/@tag.Key">
                                                    <div class="Popover">
                                                        <div id="Popover7-toggle" aria-haspopup="true" aria-expanded="false" aria-owns="Popover7-content"># @(tag.Key)</div>
                                                    </div>
                                                </a>
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("SideBar")
        </div>
    </div>
</main>